{% macro display_user_card(user, current_user=false, pending=false) -%}

<div class="card user-card">
    <div class="card-inner">
        <div class="image-wrapper">
            <img src="{{ user.header_image_url }}" alt="" class="card-hero">
        </div>
        <div class="card-contents">
            <a href="/users/{{ user.id }}" class="card-link">
                <img src="{{ user.image_url }}" alt="Image for {{ user.username }}" class="card-image">
                <p>@{{ user.username }}</p>
            </a>


            {% if not current_user %}
                {% if g.user.is_following_confirmed(user) %}
                    <form method="POST"
                        action="/users/stop-following/{{ user.id }}">
                    <button class="btn btn-primary btn-sm">Unfollow</button>
                    </form>
                {% elif g.user.is_following(user) %}
                    <button class="btn btn-primary btn-sm">Pending</button>
                {% else %}
                    <form method="POST" action="/users/follow/{{ user.id }}">
                    <button class="btn btn-outline-primary btn-sm">Follow</button>
                    </form>
                {% endif %}
            {% endif %}

        </div>

        {% if not current_user %}
        <p class="card-bio">{{ user.bio }}</p>

        {% else %}
        <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">Messages</p>
              <h4>
                <a href="/users/{{ g.user.id }}/messages">{{ g.user.messages | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Following</p>
              <h4>
                <a href="/users/{{ g.user.id }}/following">{{ g.user.following | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Followers</p>
              <h4>
                <a href="/users/{{ g.user.id }}/followers">{{ g.user.followers | length }}</a>
              </h4>
            </li>
        </ul>
        {% endif %}
        {% if pending %}
        <form method="POST" 
            action="/users/accept-follower/{{ user.id }}" class="d-flex justify-content-center">
        <button class="btn btn-outline-primary btn-sm">Accept</button>
        </form>
        {% endif %}
      </div>
    </div>

{%- endmacro %}


{% macro display_message(message=message, show_like_buttons=false) -%}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"/>

      <a href="/users/{{ message.user.id }}">
        <img src="{{ message.user.image_url }}" alt="user image" class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
        <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
        <p>{{ message.text }}</p>
      </div>
      {% if show_like_buttons %}
        {% if message.user_id != g.user.id %}
        <button class="
          btn 
          btn-sm 
          {% if message in g.user.likes %}btn-primary
          {% else %}btn-secondary
          {% endif %}
          fa fa-thumbs-up"
          id="like-button-{{message.id}}"
        >
        </button>
        {% endif %}
      {% endif %}
    </li>



{%- endmacro %}



